---
title: Our Books - thoughtbot
---

<h2>
  Our Books
</h2>

<p>
  We love to share what we learn and sometimes that takes the form of a book.
  But these books are more than just books. Each one comes with handsome digital
  text in various formats. We also include full access to the book’s source code
  via a GitHub repository.
</p>

<p>
  Note: This file was originally in Markdown, and I had to convert it to HTML to get it to display correctly, and then had to give it the html.erb extension instead of just the .erb extension.
</p>
